<div class="modal fade" id="drawModal" tabindex="-1" role="dialog" aria-labelledby="drawModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-0" id="">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title" id="drawModalLabel">Draw Your Signature</h5>
                <button type="button" class="close btn " data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="bi bi-x-lg text-white"></i></span>
                </button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <canvas id="drawCanvas" class="border border-1 bnorder-light my-2 bg-light"></canvas>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info text-white" id="clearDrawingBtn">Clear</button>
                <button type="button" class="btn btn-outline-info hover_white" id="saveDrawingBtn">Save</button>
            </div>
        </div>
    </div>
</div>