@{
    ViewData["Title"] = "Provider Location";
}

@{
}
@section Style {
    <link rel="stylesheet" href="~/css/adminCss.css" />
    <style>
        .marker-icon {
            background-position: center;
            background-size: 22px 22px;
            border-radius: 50%;
            height: 22px;
            left: 4px;
            position: absolute;
            text-align: center;
            top: 3px;
            transform: rotate(45deg);
            width: 22px;
        }

        .marker {
            height: 30px;
            width: 30px;
        }

        .marker-content {
            background: #c30b82;
            border-radius: 50% 50% 50% 0;
            height: 30px;
            left: 50%;
            margin: -15px 0 0 -15px;
            position: absolute;
            top: 50%;
            transform: rotate(-45deg);
            width: 30px;
        }

            .marker-content::before {
                background: #ffffff;
                border-radius: 50%;
                content: "";
                height: 24px;
                margin: 3px 0 0 3px;
                position: absolute;
                width: 24px;
            }

        #map {
            height: 900px;
        }
    </style>
}

@section Scripts {
    <script src="~/js/PhysicianLocation.js"></script>
    <script>
        if (window.innerWidth > 530) {
            document.getElementById('navbarHeader').classList.add("show");
        }
    </script>
}


<partial name="_NavBar" />

    <div class="mt-4 w-75 m-auto mt-5 d-flex justify-content-between">
        <div class="d-flex align-items-center justify-content-center">
            <h3 class="me-2 mt-1 fw-bolder">Provider Location</h3>
        </div>
        <div>
            <button class="btn btn-lg btn-outline-info hover_white ms-5" onclick="window.history.back()">
                <i class="fa-solid fa-chevron-left"></i> Back
            </button>
        </div>
    </div>

<div class="p-4 shadow rounded-2 my-3 w-75 m-auto">

    <div id="map"></div>
</div>

<partial name="~/Views/Admin/Provider/_providerInfo.cshtml" />
