@{
    ViewData["Title"] = "Forget Password";
}

@section PatientLoginStyle {
    <link rel="stylesheet" href="~/css/patient_style.css" />
}

<partial name="_ThemeButton">
    <div class="container-fluid p-0">
        <div class="row g-0 align-items-center blur_content z-0">
            <div class="col-md-6 w-100 blur">
                <div class="d-flex flex-column align-items-center  justify-content-between h-100">
                    <div class="mt-5 text-center">
                        <!-- <h1 class="text-info">HalloDoc</h1> -->
                        <img src="/images/logo.png" width="250px" alt="" srcset="">
                    </div>
                    <div class="p-md-2 bg-transparent  mb-4 w-auto p-4">
                        <a href="/patient/login" class="text-decoration-none text-info">
                            <i class="fa-solid fa-chevron-left"></i> Back
                        </a>
                        <h2 class="text-center pb-3 mt-2 fw-bold">
                            Reset Your Password</h1>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" placeholder="name@example.com">
                                <label for="floatingInput" class="control-label">
                                    Username
                                </label>
                                <i class="bi bi-person-circle input_icon"></i>
                            </div>
                            <button class="w-100 btn btn-lg btn-info text-white  my-2" type="submit">Reset
                                Password</button>
                            <a href="/login/index" class="w-100 btn btn-lg text-info" type="submit">
                                <i class="fa-solid fa-chevron-left"></i> Back to login
                            </a>
                    </div>
                    <div class="text-center">
                        <p>
                            <a href="" class="text-decoration-none text-secondary">Terms of Conditions</a>
                            <span class="text-secondary">|</span>
                            <a href="" class="text-decoration-none text-secondary">Privacy Policy</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>