@model HalloDoc_DAL.Models.Aspnetuser

@{
    ViewData["Title"] = "Login Page";
}

@section PatientLoginStyle {
    <link rel="stylesheet" href="~/css/patient_style.css" />
}
@section Scripts {
    <script>
        let pass = document.getElementById('pass');
        let inpt = document.getElementById('inpt');

        pass.addEventListener('click', (e) => {
            e.preventDefault();
            if (inpt.type === 'password') {
                inpt.type = 'text'
                pass.classList.remove("bi-eye-fill")
                pass.classList.add("bi-eye-slash-fill")
            } else {
                inpt.type = 'password'
                pass.classList.remove("bi-eye-slash-fill")
                pass.classList.add("bi-eye-fill")

            }
        })

    </script>

    @if (@TempData["Error"] != null)
    {
        <script>
            $(document).ready(function () {
                toastMixin.fire({
                    animation: true,
                    title: '@TempData["Error"]',
                    icon: 'error'
                });
            })

            var toastMixin = Swal.mixin({
                toast: true,
                icon: 'success',
                title: 'General Title',
                animation: false,
                position: 'top-right',
                showConfirmButton: false,
                timer: 2000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            });
        </script>
    }
}


<partial name="_Themebutton">
    <div class="container-fluid p-0">
        <div class="row g-0 align-items-center blur_content z-0">
            <div class="col-md-6 w-100 blur">
                <div class="d-flex flex-column align-items-center  justify-content-between h-100">
                    <div class="mt-5 text-center ">
                        <!-- <h1 class="text-info">HalloDoc</h1> -->
                        <img src="/images/logo.png" width="250px" alt="" srcset="">
                    </div>
                    <div class="p-md-2 bg-transparent  mb-4 w-auto">
                        <a href="/Patient/index" class="text-decoration-none text-info">
                            <i class="fa-solid fa-chevron-left"></i> Back
                        </a>
                        <h2 class="text-center pb-3 mt-2 fw-bold">
                            Login To Your Account</h1>

                            @*<span class="text-danger">@TempData["Error"]</span>*@

                            <form asp-action="LoginUser">
                                <input type="hidden" asp-for="Id" value="1" />
                            <div class="form-floating mb-3">
                                <input asp-for="Email" type="email" class="form-control" placeholder="name@example.com">
                                <label asp-for="Email" for="floatingInput" class="control-label">
                                    Username
                                </label>
                                <i class="bi bi-person-circle input_icon"></i>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Passwordhash" type="password" class="form-control" id="inpt" placeholder="Password">
                                <label asp-for="Passwordhash" for="floatingPassword" class="control-label">Password</label>
                                <i class="bi bi-eye-fill input_icon" id="pass"></i>
                            </div>
                            <button class="w-100 btn btn-lg btn-info text-white  my-2" type="submit">Log In</button>
                            </form>
                            <a href="/login/forgetPassword" class="w-100 btn btn-lg text-info" type="">
                                Forget
                                Password
                                ?
                            </a>
                    </div>
                    <div class="text-center">
                        <p>
                            <a href="" class="text-decoration-none text-secondary">Terms of Conditions</a>
                            <span class="text-secondary">|</span>
                            <a href="" class="text-decoration-none text-secondary">Privacy Policy</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
