@{
    ViewData["Title"] = "Create Role Access";
}
@*@model List<HalloDoc_DAL.Models.Role>;*@

@section Style {
    <link rel="stylesheet" href="~/css/adminCss.css" />
}
@section Scripts {
    @*<script src="~/js/Partners.js"></script>*@
    <script>
        if (window.innerWidth > 530) {
            document.getElementById('navbarHeader').classList.add("show");
        }
    </script>
}

<partial name="_NavBar" />

<div class=" my-5 w-75 m-auto">
    <div class="mt-4 m-auto form_content">

        <div class="d-flex justify-content-between">
            <h3 class="fw-bold">Create Role</h3>
            <button onclick="history.back()" class="btn btn-lg btn-outline-info hover_white ms-5">
                <i class="fa-solid fa-chevron-left"></i> Back
            </button>
        </div>


        <div class="border-0 rounded-3 shadow my-4">
            <div class="row p-3 p-2">
                <div class="col-md-12 my-auto">
                   <h4 class="fw-500 p-2">Details</h4>
                </div>

                <div class="form-floating col-md-6 my-3">
                    <input type="text" class="form-control" placeholder=" ">
                    <label  for="floatingInput" class="control-label ms-3">
                        Role Name
                    </label>
                </div>
                <div class="form-floating col-md-6 my-3">
                    <select class="form-select pt-1 togleStateMailginfo" id="AccountType" aria-label="Default select example">
                        <option value="" disabled selected>Account Type</option>
                    </select>
                </div>

                <div class="d-flex flex-wrap align-items-center ">
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                    <div class="d-flex align-items-center m-1 "><input type="checkbox" /> <span>Admin</span> </div>
                </div>
                <div class="col-12 text-end mt-5 mb-3">
                    <button class="btn btn-info text-white btn-lg">Save</button>
                    <button class="btn btn-outline-info hover_white btn-lg">Cancel</button>

                </div>
            </div>
        </div>
    </div>
</div>
