@{
    ViewData["Title"] = "Edit Role Access";
}
@model int;
@section Style {
    <link rel="stylesheet" href="~/css/adminCss.css" />
}
@section Scripts {
    @*<script src="~/js/Partners.js"></script>*@
    <script>
        if (window.innerWidth > 530) {
            document.getElementById('navbarHeader').classList.add("show");
        }
    </script>
    <script src="~/js/Access/CreateEditAccess.js"></script>
}

<partial name="_NavBar" />

<div class=" my-5 w-75 m-auto">
    <div class="mt-4 m-auto form_content">
        <input type="text" id="roleId" value="@Model"></inpt>
        <div class="d-flex justify-content-between">
            <h3 class="fw-bold">Edit Role</h3>
            <button onclick="history.back()" class="btn btn-lg btn-outline-info hover_white ms-5">
                <i class="fa-solid fa-chevron-left"></i> Back
            </button>
        </div>
        <partial name="~/Views/Admin/Access/_CreateEditAccess.cshtml" />
    </div>
</div>
