@{
    ViewData["Title"] = "User Access";
}
@model List<HalloDoc_BAL.ViewModel.Admin.UserAccessView>;

@section Style {
    <link rel="stylesheet" href="~/css/adminCss.css" />
}
@section Scripts {
    <script src="~/js/Access/UserAccess.js"></script>
    <script>
        if (window.innerWidth > 530) {
            document.getElementById('navbarHeader').classList.add("show");
        }
    </script>

    @if(TempData["Error"] != null)
    {
        <script>
            showToaster("@TempData["Error"]" , "error");
        </script>
    }

}

<partial name="_NavBar" />

<div class=" my-5 container m-auto">
    <div class="mt-4 m-auto form_content">

        <div class="d-flex justify-content-between">
            <h3 class="fw-bold">User Access</h3>
            <button onclick="history.back()" class="btn btn btn-outline-info hover_white ms-5">
                <i class="fa-solid fa-chevron-left"></i> Back
            </button>
        </div>


        <div class="border-0 rounded-3 shadow my-4">
            <div class="row p-3">
                <div class="col-md-4 my-auto text-start">
                    <select class="p-2 mt-3 px-4 form-control mb-3 w-100 " id="UserSearch">
                        <option value="0">All</option>
                        @foreach (var type in @ViewBag.accoutType)
                        {
                            if (type.Id != 3)
                            {
                                <option value="@type.Id">@type.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-8 d-flex justify-content-end align-items-center">
                    <a href="/Admin/CreateAdmin" id="adminbtn" class="btn btn-outline-info hover_white mx-2">Create Admin</a>
                    <a href="/Admin/CreateProvider" id="physicianbtn" class="btn btn-outline-info hover_white">Create Physician</a>
                </div>

            </div>
            <partial name="~/Views/Admin/Access/_UserDataAccess.cshtml" model="Model" />
        </div>
    </div>
</div>
