
<div class="modal fade" id="blockPatientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form class="modal-content border-0" id="blockRequest">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title" id="exampleModalLongTitle">Confirm Block</h5>
                <button type="button" class="close btn " data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="bi bi-x-lg text-white"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <p>Patient Name: <span id="patientName" class="fw-bold text-info"></span></p>
                <input type="text" id="requestIdblockCase" value="" class="visually-hidden" />
                <div>
                    <div class="form-floating my-3">
                        <input id="reasonForBlock" type="text" class="form-control togleInput" style="height:120px;" required>
                        <label for="floatingInput" class="control-label">
                            Reason For Block Request
                        </label>
                    </div>
                </div>
                @* <p>Request ID: <span id="requestIdDisplay"></span></p> *@
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-info text-white btn-lg">Submit</button>
                <button  class="btn btn-outline-info hover_white fw-100 btn-lg close">
                    Cancle
                </button>
            </div>
        </form>
    </div>
</div>
