<div class="modal fade" id="encounterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-0">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title" id="exampleModalLongTitle">Encounter Form</h5>
                <button type="button" class="close btn " data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="bi bi-x-lg text-white"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" id="requestIdencounter" class="" />
                <p>Encounter form is finalize sucessfully!</p>
                <div class="text-center mt-2">
                <button type="submit" class="btn btn-info text-white text-center">Download</button>
                </div>
            </div>
        </div>
    </div>
</div>
