
<div class="modal fade" id="physicianModal" tabindex="-1" aria-labelledby="physicianModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="physicianModalLabel">Physician Details</h5>
                <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="bi bi-x-lg"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <p>Name: <span id="physicianName"></span></p>
                <p>Last Login: <span id="physcianActive"></span></p>
                <p>Address:  <span id="physcianAddress"></span></p>
                <!-- Add more details here -->
            </div>
            <div class="modal-footer">
                <button type="cancle" class="btn btn-info text-white fw-100 btn-lg close">
                    Okay
                </button>
            </div>
        </div>
    </div>
</div>