@{
    ViewData["Title"] = "Create Request";
}

@model PatientFormData;


@section Style {
    <link rel="stylesheet" href="~/css/adminCss.css" />
}

@section Scripts {
    <script src="~/js/AdminProfile.js"></script>
    <script>
        if (window.innerWidth > 530) {
            document.getElementById('navbarHeader').classList.add("show");
        }
    </script>

}

<partial name="_Navbar" />


<div class=" mt-5 container-sm m-auto">
    <div class="mt-4 w-75 m-auto">
        <div class="d-flex justify-content-between">
            <h3>Submit Information</h3>
            <button onclick="history.back()" class="btn btn btn-outline-info hover_white ms-5">
                <i class="fa-solid fa-chevron-left"></i> Back
            </button>
        </div>
    </div>
</div>
