@{
    ViewData["Title"] = "Encounter Form";
}


@model HalloDoc_BAL.ViewModel.Admin.EncounterFormView;

@section Style {
    <link rel="stylesheet" href="~/css/adminCss.css" />
}

@section Scripts {
    <script>
        if (window.innerWidth > 530) {
            document.getElementById('navbarHeader').classList.add("show");
        }

        $(document).ready(function () {
            $('#isfinalize').on('click', function (e) {
                e.preventDefault();

                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: "btn btn-info mx-2 btn-lg text-white my-2 mb-2",
                        cancelButton: "btn btn-outline-info btn-lg hover_white"
                    },
                    buttonsStyling: false
                });

                swalWithBootstrapButtons.fire({
                    title: "Are you sure you want to Finalize Form?",
                    text: "Once you finalize, you cannot undo this action!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Okay",
                    cancelButtonText: "Cancel",
                }).then((result) => {
                    if (result.isConfirmed) {
                        $("#finalValue").prop("value", 1);
                        console.log($("#finalValue").val());
                        $('#encounterForm').submit(); // Trigger form submission
                    }
                });
            });

            // Form submission handling
            $('#encounterForm').submit(function (event) {
                event.preventDefault(); // Prevent default form submission
                $.ajax({
                    type: "POST",
                    url: $(this).attr("action"),
                    data: $(this).serialize(), // Serialize form data
                    success: function (response) {
                        debugger
                        console.log($("#finalValue").val());
                        
                        if($("#finalValue").val() != 1){
                        Swal.fire({
                            title: "Done",
                            text: "Form Data Saved Succesfully",
                            icon: "success",
                            showConfirmButton: false,
                            timer: 1500
                        })
                        }
                        else{
                            Swal.fire({
                            title: "Done",
                            text: "Form Data Finalize Succesfully",
                            icon: "success",
                            showConfirmButton: false,
                            timer: 1500
                        }).then(function(){
                            location.href = "/admin";
                        })

                        }
                        
                    },
                    error: function (xhr, status, error) {
                        Swal.fire({
                            title: "Error",
                            text: "Error while submitting the form!",
                            icon: "error",
                            showConfirmButton: false,
                            timer: 1000
                        }).then(function () {
                            location.reload();
                        })
                    }
                });
            });
        });

        </script>
}

<div class=" mt-5 container m-auto ">
    <div class="mt-4 m-auto w-75">
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="fw-bold">Encounter Form</h3>
            <button onclick="history.back()" class="btn btn-lg btn-outline-info hover_white ms-5">
                <i class="fa-solid fa-chevron-left"></i> Back
            </button>
        </div>
    </div>

    <!-- Form start  -->
    <form id="encounterForm" asp-action="encounter" method="post" enctype="multipart/form-data">
        <div class="mt-4 m-auto form_content">
            <div class="row p-4 shadow rounded-3">
                <!-- Provider Information -->

                <h1 class="col-12 text-info text-center fw-bolder my-3">Medical Report-Confidential</h1>

                <input type="text" asp-for="requestId" class="visually-hidden"/>
                <input id="finalValue" type="text" asp-for="isFinalize" class="visually-hidden" />
                
                <div class="form-floating col-md-6 my-3">
                    <input asp-for="firstName" type="text" class="form-control" placeholder=" ">
                    <label asp-for="firstName" for="floatingInput" class="control-label ms-3">
                       First Name
                    </label>
                </div>

                <div class="form-floating col-md-6 my-3">
                    <input asp-for="lastName" type="text" class="form-control" placeholder=" ">
                    <label asp-for="lastName" for="floatingInput" class="control-label ms-3">
                       Last Name
                    </label>
                </div>

                <div class="form-floating col-md-12 my-3">
                    <input asp-for="location" type="text" class="form-control" placeholder=" ">
                    <label asp-for="location" for="floatingInput" class="control-label ms-3">
                       Location
                    </label>
                </div>

                <div class="form-floating col-md-6 my-3">
                    <input asp-for ="dateOfBirth" type="date" class="form-control" id="dob">
                    <label asp-for="dateOfBirth" for="dob" class="control-label ms-3">
                        Date Of Birth
                     </label>
                 </div>

                 <div class="form-floating col-md-6 my-3">
                    <input asp-for="dateOfRequest" type="date" class="form-control" id="dateofrequest">
                    <label asp-for="dateOfRequest" for="dateofrequest" class="control-label ms-3">
                        Date of Request
                     </label>
                 </div>

                 <div class="form-floating col-md-6 my-3">
                    <input asp-for="phone" id="phone" type="tel" class="form-control"> <br />
                </div>

                <div class="form-floating col-md-6 my-3">
                    <input asp-for="email" type="email" class="form-control" placeholder=" ">
                    <label asp-for="email" for="floatingInput" class="control-label ms-3">
                       Email
                    </label>
                </div>

                <div class="form-floating col-md-6 my-3">
                    <input asp-for="historyOfPresentIllnessOrInjury" type="text" class="form-control" style="height:80px;" placeholder=" ">
                    <label asp-for="historyOfPresentIllnessOrInjury" for="floatingInput" class="control-label ms-3">
                       History of Presenet Illness or Injury
                    </label>
                </div>

                <div class="form-floating col-md-6 my-3">
                    <input asp-for="medicalHistory" type="text" class="form-control" style="height:80px;" placeholder=" ">
                    <label asp-for="medicalHistory" for="floatingInput" class="control-label ms-3">
                       Medical History
                    </label>
                </div>

                <div class="form-floating col-md-6 my-3">
                    <input asp-for="medications" type="text" class="form-control" style="height:80px;" placeholder=" ">
                    <label asp-for="medications" for="floatingInput" class="control-label ms-3">
                       Medications
                    </label>
                </div>

                <div class="form-floating col-md-6 my-3">
                    <input asp-for="allergies"  type="text" class="form-control" style="height:80px;" placeholder=" ">
                    <label asp-for="allergies" for="floatingInput" class="control-label ms-3">
                       Allergies
                    </label>
                </div>

                <div class="form-floating col-md-4 my-3">
                    <input asp-for="temp"  type="text" class="form-control" placeholder=" ">
                    <label asp-for="temp" for="floatingInput" class="control-label ms-3">
                       Temp
                    </label>
                </div>

                <div class="form-floating col-md-4 my-3">
                    <input asp-for="hr"  type="text" class="form-control" placeholder=" ">
                    <label asp-for="hr" for="floatingInput" class="control-label ms-3">
                       HR
                    </label>
                </div>

                <div class="form-floating col-md-4 my-3">
                    <input asp-for="rr"  type="text" class="form-control" placeholder=" ">
                    <label asp-for="rr" for="floatingInput" class="control-label ms-3">
                       RR
                    </label>
                </div>

                <div class="form-floating col-md-2 my-3">
                    <input asp-for="bloodPressureDiastolic"  type="text" class="form-control" placeholder=" ">
                    <label asp-for="bloodPressureDiastolic" for="floatingInput" class="control-label ms-3">
                       Blood Pressure(Diastolic)
                    </label>
                </div>

                <div class="form-floating col-md-2 my-3">
                    <input asp-for="bloodPressureSystolic"  type="text" class="form-control" placeholder=" ">
                    <label asp-for="bloodPressureSystolic" for="floatingInput" class="control-label ms-3">
                       Blood Pressure(Systolic)
                    </label>
                </div>

                <div class="form-floating col-md-4 my-3">
                    <input asp-for="o2"  type="text" class="form-control" placeholder=" ">
                    <label asp-for="o2" for="floatingInput" class="control-label ms-3">
                       O2
                    </label>
                </div>

                <div class="form-floating col-md-4 my-3">
                    <input asp-for="pain"  type="text" class="form-control" placeholder=" ">
                    <label asp-for="pain" for="floatingInput" class="control-label ms-3">
                       Pain
                    </label>
                </div>

                <div class="form-floating col-md-6 my-3">
                    <input asp-for="heent"  type="text" class="form-control" style="height:80px;" placeholder=" ">
                    <label asp-for="heent" for="floatingInput" class="control-label ms-3">
                       Heent
                    </label>
                </div>

                <div class="form-floating col-md-6 my-3">
                    <input asp-for="cv"  type="text" class="form-control" style="height:80px;" placeholder=" ">
                    <label asp-for="cv" for="floatingInput" class="control-label ms-3">
                       CV
                    </label>
                </div>
                <div class="form-floating col-md-6 my-3">
                    <input asp-for="chest"  type="text" class="form-control" style="height:80px;" placeholder=" ">
                    <label asp-for="chest" for="floatingInput" class="control-label ms-3">
                       Chest
                    </label>
                </div>
                <div class="form-floating col-md-6 my-3">
                    <input asp-for="abd"  type="text" class="form-control" style="height:80px;" placeholder=" ">
                    <label asp-for="abd" for="floatingInput" class="control-label ms-3">
                       ABD
                    </label>
                </div>
                <div class="form-floating col-md-6 my-3">
                    <input asp-for="extremities"  type="text" class="form-control" style="height:80px;" placeholder=" ">
                    <label asp-for="extremities" for="floatingInput" class="control-label ms-3">
                       Extr
                    </label>
                </div>
                <div class="form-floating col-md-6 my-3">
                    <input asp-for="skin"  type="text" class="form-control" style="height:80px;" placeholder=" ">
                    <label asp-for="skin" for="floatingInput" class="control-label ms-3">
                       Skin
                    </label>
                </div>
                <div class="form-floating col-md-6 my-3">
                    <input asp-for="neuro"  type="text" class="form-control" style="height:80px;" placeholder=" ">
                    <label asp-for="neuro" for="floatingInput" class="control-label ms-3">
                       Neuro
                    </label>
                </div>
                <div class="form-floating col-md-6 my-3">
                    <input asp-for="other"  type="text" class="form-control" style="height:80px;" placeholder=" ">
                    <label asp-for="other" for="floatingInput" class="control-label ms-3">
                       Other
                    </label>
                </div>
                <div class="form-floating col-md-6 my-3">
                    <input asp-for="diagnosis"  type="text" class="form-control" style="height:80px;" placeholder=" ">
                    <label asp-for="diagnosis" for="floatingInput" class="control-label ms-3">
                       Diagnosis
                    </label>
                </div>
                <div class="form-floating col-md-6 my-3">
                    <input asp-for="treatmentPlan"  type="text" class="form-control" style="height:80px;" placeholder=" ">
                    <label asp-for="treatmentPlan" for="floatingInput" class="control-label ms-3">
                      Treatment Plan
                    </label>
                </div>
                <div class="form-floating col-md-6 my-3">
                    <input asp-for="medicalDispensed"  type="text" class="form-control" style="height:80px;" placeholder=" ">
                    <label asp-for="medicalDispensed" for="floatingInput" class="control-label ms-3">
                       Medical Dispensed
                    </label>
                </div>
                <div class="form-floating col-md-6 my-3">
                    <input asp-for="procedures"  type="text" class="form-control" style="height:80px;" placeholder=" ">
                    <label asp-for="procedures" for="floatingInput" class="control-label ms-3">
                       Procedures
                    </label>
                </div>

                <div class="form-floating col-md-12 my-3">
                    <input asp-for="followup"  type="text" class="form-control" style="height:80px;" placeholder=" ">
                    <label asp-for="followup" for="floatingInput" class="control-label ms-3">
                       Followup
                    </label>
                </div>


                <div class="my-3 d-flex justify-content-end ">
                    <button type="submit" class="btn btn-info text-white">Save Changes</button>
                    <button id="isfinalize" class="btn btn-finalize hover_white mx-2">Finalize</button>
                    <div onclick="history.back()" class="btn btn-outline-info hover_white hover_primary ">Cancel</div>
                </div>
            </div>
        </div>
    </form>
</div>