@{
    ViewData["Title"] = "Orders";
}

@model HalloDoc_DAL.Models.Orderdetail;

@section Style {
    <link rel="stylesheet" href="~/css/adminCss.css" />
}

@section Scripts {
    <script src="~/js/Orders.js"></script>
    <script>
        if (window.innerWidth > 530) {
            document.getElementById('navbarHeader').classList.add("show");
        }
    </script>


}
<div class="mt-5  m-auto mb-5 w-75">
    <div class="mt-4 m-auto d-flex justify-content-between">
        <div class="d-flex align-items-center justify-content-center">
            <h3 class="me-2 mt-1 fw-bolder">Orders</h3>
        </div>
        <div>
            <button class="btn btn-lg btn-outline-info hover_white ms-5" onclick="window.history.back()">
                <i class="fa-solid fa-chevron-left"></i> Back
            </button>
        </div>
    </div>

    <form asp-action="Addorder" class="mt-4 m-auto needs-validation">

        <input asp-for="Requestid" type="text" value="@ViewData["requestId"]" class="visually-hidden"></input>

        <div class="row p-4 shadow rounded-3">
            <div class="form-floating col-md-6 my-3">
                <select class="form-select pt-1" id="ProfessionSelect" aria-label="Select Profession" required>
                    
                </select>

            </div>

            <div class="form-floating col-md-6 my-3">
                <select asp-for="Vendorid" class="form-select pt-1" id="BusinessSelect" aria-label="Select Business" required>
                    <option value="" selected disabled>Select Business</option>
                </select>

            </div>

            <div class="form-floating col-md-6 my-3">
                <input asp-for="Businesscontact" type="text" class="form-control" id="BusinessContactInput" placeholder="Business Contact" required>
                <label asp-for="Businesscontact" for="BusinessContactInput" class="control-label ms-3">Business Contact</label>
            </div>
            <div class="form-floating col-md-6 my-3">
                <input asp-for="Email" type="email" class="form-control" placeholder=" " id="EmailInput" required>
                <label asp-for="Email" for="EmailInput" class="control-label ms-3">Email</label>
            </div>
            <div class="form-floating col-md-6 my-3">
                <input asp-for="Faxnumber" type="text" class="form-control" id="FaxNumberInput" placeholder="Fax Number" required>
                <label asp-for="Faxnumber"  for="FaxNumberInput" class="control-label ms-3">Fax Number</label>
            </div>

            <div class="form-floating col-md-12 my-3">
                <input asp-for="Prescription" type="text" class="form-control" placeholder=" " style="height: 80px;" required>
                <label asp-for="Prescription" for="floatingInput" class="control-label ms-3">
                    Prescription or Order details
                </label>
            </div>

            <div class="form-floating col-md-6 my-3">
                <select asp-for="Noofrefill" class="form-select pt-1" id="BusinessSelect" aria-label="Default select example">
                    <option value="Number Of Refill" selected hidden>Number Of Refill</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>

            <div class="my-3 d-flex justify-content-end ">
                <button class="btn btn-outline-info hover_white hover_primary mx-2 btn-lg" type="submit">Submit</button>
                <button class="btn btn-outline-info hover_white hover_primary btn-lg" type="reset">Cancel</button>
            </div>
        </div>
    </form>


</div>
