@*
For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h5 class="col-12 fw-bold my-3"> Business Information</h5>
<div class="form-floating col-md-6 my-3">
    <input type="text" class="form-control" placeholder="">
    <label for="floatingInput" class="control-label ms-3">
        Your First Name
    </label>
</div>
<div class="form-floating col-md-6 my-3">
    <input type="text" class="form-control" placeholder="">
    <label for="floatingInput" class="control-label ms-3">
        Your Last Name
    </label>
</div>
<div class="col-md-6 d-flex align-items-center my-3">
    <input id="phone1" type="tel" class="form-control">
</div>
<div class="form-floating col-md-6 my-3">
    <input type="email" class="form-control" placeholder="">
    <label for="floatingInput" class="control-label ms-3">
        Your Email
    </label>
</div>
<div class="form-floating col-md-6 my-3">
    <input type="text" class="form-control" placeholder="">
    <label for="floatingInput" class="control-label ms-3">
        Business / Property Name
    </label>
</div>
<div class="form-floating col-md-6 my-3">
    <input type="text" class="form-control" placeholder="">
    <label for="floatingInput" class="control-label ms-3">
        Case Number (Optinal)
    </label>
</div>