@model HalloDoc_BAL.ViewModel.Patient.ConciergeFormData;


<h5 class="col-12 fw-bold my-3"> Concierge Information</h5>
<div class="form-floating col-md-6 my-3">
    <input asp-for="ConciergeFirstName" type="text" class="form-control" placeholder=" ">
    <label asp-for="ConciergeFirstName" for="floatingInput" class="control-label ms-3">
        Your First Name
    </label>
    <span asp-validation-for="ConciergeFirstName" class="text-danger"></span>
</div>

<div class="form-floating col-md-6 my-3">
    <input asp-for="ConciergeLastName" type="text" class="form-control" placeholder=" ">
    <label asp-for="ConciergeLastName" for="floatingInput" class="control-label ms-3">
        Your Last Name
    </label>
    <span asp-validation-for="ConciergeLastName" class="text-danger"></span>

</div>
<div class="form-floating col-md-6 my-3">
    <input asp-for="ConciergePhoneNumber" id="phone1" type="tel" class="form-control" placeholder=" "> <br />
    <label for="floatingInput" class="control-label ms-3">
    </label>
@*     <span asp-validation-for="ConciergePhoneNumber" class="text-danger"></span> *@
</div>
<div class="form-floating col-md-6 my-3">
    <input asp-for="ConciergeEmail" type="email" class="form-control" placeholder=" ">
    <label asp-for="ConciergeEmail" for="floatingInput" class="control-label ms-3">
        Your Email
    </label>
    <span asp-validation-for="ConciergeEmail" class="text-danger"></span>

</div>
<div class="form-floating col-md-6 my-3">
    <input asp-for="HotelOrPropertyName" type="text" class="form-control" placeholder=" ">
    <label asp-for="HotelOrPropertyName" for="floatingInput" class="control-label ms-3">
        Hotel / Property Name
    </label> 
    <span asp-validation-for="HotelOrPropertyName" class="text-danger"></span>
</div>

<!-- Concierge Location  -->
<h5 class="col-12 fw-bold my-3"> Concierge Location</h5>
<div class="form-floating col-md-6 my-3">
    <input asp-for="Street" type="text" class="form-control" placeholder=" ">
    <label asp-for="Street" for="floatingInput" class="control-label ms-3">
        Street
    </label>
    <span asp-validation-for="Street" class="text-danger"></span>

</div>
<div class="form-floating col-md-6 my-3">
    <input asp-for="City" type="text" class="form-control" placeholder=" ">
    <label asp-for="City" for="floatingInput" class="control-label ms-3">
        City
    </label>
    <span asp-validation-for="City" class="text-danger"></span>

</div>
<div class="form-floating col-md-6 my-3">
    <select asp-for="regionId" class="p-2 form-control mb-3 w-100" required>
        <option value="" disabled selected hidden>State</option>
        @foreach (var region in ViewBag.regions)
        {
            <option value="@region.Regionid">@region.Name - (@region.Abbreviation)</option>
        }
    </select>
    <span asp-validation-for="regionId" class="text-danger"></span>
</div>

<div class="form-floating col-md-6 my-3">
    <input asp-for="ZipCode" type="text" class="form-control" placeholder=" ">
    <label asp-for="ZipCode" for="floatingInput" class="control-label ms-3">
        Zip Code
    </label>
    <span asp-validation-for="ZipCode" class="text-danger"></span>

</div>