@*  <div class="loader" id="AjaxLoader" style="display: none;">
            <div class="strip-holder">
                <div class="strip-1"></div>
                <div class="strip-2"></div>
                <div class="strip-3"></div>
            </div>
        </div>*@


<div class="text-center loader" id="AjaxLoader">
    <div class="spinner-border loader-circle text-info" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>