@model PatientFormData;

<!-- Patient Information -->

<h5 class="col-12 fw-bold my-3">Patient Information</h5>

<div class="form-floating my-3">
    <textarea asp-for="Symptoms" class="form-control" placeholder="" id="floatingTextarea2" style="height: 100px"></textarea>
    <label asp-for="Symptoms" for="floatingTextarea2" class="ms-3">Enter Brief Details Of Symptoms</label>
    <span asp-validation-for="Symptoms" class="text-danger"></span>
</div>
<div class="form-floating col-md-6 my-3">
    <input asp-for="FirstName" type="text" class="form-control" placeholder="name@example.com">
    <label asp-for="FirstName" for="floatingInput" class="control-label ms-3">
        First Name
    </label>
    <span asp-validation-for="FirstName" class="text-danger"></span>
</div>
<div class="form-floating col-md-6 my-3">
    <input asp-for="LastName" type="text" class="form-control" placeholder="name@example.com">
    <label asp-for="LastName" for="floatingInput" class="control-label ms-3">
        Last Name
    </label>
    <span asp-validation-for="LastName" class="text-danger"></span>

</div>
<div class="form-floating col-md-6 my-3">
    <input asp-for="DateOfBirth" type="date" class="form-control" id="dob">
    <label asp-for="DateOfBirth" for="dob" class="control-label ms-3">
        Date Of Birth
    </label>
    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
</div>
<!-- Patient Contact Information -->
<h5 class="col-12 fw-bold my-3">Patient Contact Information</h5>
<div class="form-floating col-md-6 my-3">
    <input asp-for="Email" type="email" id="email" class="form-control" placeholder="name@example.com">
    <label asp-for="Email" for="floatingInput" class="control-label ms-3">
        Email
    </label> 
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-floating col-md-6 my-3">
    <input asp-for="PhoneNumber" id="phone" type="tel" class="form-control"> <br />
    <label for="floatingInput" class="control-label ms-3">
    </label>
    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
</div>

<div class="form-floating col-md-6 my-3 password-fields">
    <input asp-for="Password" type="password"  class="form-control" required>
    <label asp-for="Password" for="floatingInput" class="control-label ms-3">
        Password
    </label>
    <span asp-validation-for="Password" class="text-danger"></span>
</div>

<div id="" class="form-floating col-md my-3 password-fields">
    <input asp-for="ConfirmPassword" type="password" class="form-control" required>
    <label asp-for="ConfirmPassword" for="floatingInput" class="control-label ms-3">
        Confirm Password
    </label>
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
</div>

<!-- Patient Location -->
<h5 class="col-12 fw-bold my-3">Patient Location</h5>

@if (!String.Equals(ViewData["ViewName"], "ConciergeRequest"))
{
    <div class="form-floating col-md-6 my-3">
        <input asp-for="Street" type="text" class="form-control" placeholder="name@example.com">
        <label asp-for="Street" for="floatingInput" class="control-label ms-3">
            Street
        </label>
        <span asp-validation-for="Street" class="text-danger"></span>

    </div>
    <div class="form-floating col-md-6 my-3">
        <input asp-for="City" type="text" class="form-control" placeholder="name@example.com">
        <label asp-for="City" for="floatingInput" class="control-label ms-3">
            City
        </label>
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
  @*  <div class="form-floating col-md-6 my-3">
        <input asp-for="State" type="text" class="form-control" placeholder="name@example.com">
        <label asp-for="State" for="floatingInput" class="control-label ms-3">
            State
        </label>
        <span asp-validation-for="State" class="text-danger"></span>
    </div>*@

    <div class="form-floating col-md-6 my-3">
        <select asp-for="regionId" class="p-2 form-control mb-3 w-100" required>
            <option value="" disabled selected hidden>State</option>
            @foreach (var region in ViewBag.regions)
            {
                <option value="@region.Regionid">@region.Name - (@region.Abbreviation)</option>
            }
        </select>
        <span asp-validation-for="regionId" class="text-danger"></span>
    </div>



    <div class="form-floating col-md-6 my-3">
        <input asp-for="ZipCode" type="text" class="form-control" placeholder="name@example.com">
        <label asp-for="ZipCode" for="floatingInput" class="control-label ms-3">
            Zip Code
        </label>
        <span asp-validation-for="ZipCode" class="text-danger"></span>
    </div>
}

<div class="form-floating col-md-6 my-3">
    <input asp-for="RoomOrSuite" type="text" class="form-control">
    <label asp-for="RoomOrSuite" for="floatingInput" class="control-label ms-3">
        Room # / Suite (optional)
    </label>
</div>


@if(String.Equals(ViewData["ViewName"] , "RequestForSomeone")){
    <h5 class="col-12 fw-bold my-3">Relation</h5>
     <div class="form-floating col-md-6 my-3">
        <input asp-for="RelationWithPatinet" type="text" class="form-control" placeholder="name@example.com">
        <label asp-for="RelationWithPatinet"  for="floatingInput" class="control-label ms-3">
            Relation with Patinet (Optional)
        </label>
    </div>
} 

@if (!String.Equals(ViewData["ViewName"] , "ConciergeRequest") && !String.Equals(ViewData["ViewName"] , "BusinessRequest"))
{

    <h5 class="col-12 fw-bold my-3">(Optinal) Upload Photo or Document</h5>
    <div class="my-3">
        @*<input type="file" class="visually-hidden" id="inputFile"> *@
        <input asp-for="UploadFile" id="inputFile" class="visually-hidden">
        <label asp-for="UploadFile" for="inputFile" class="border border-1 rounded-2 d-flex justify-content-between">
            <div class="d-flex align-items-center ms-3 mt-2">
                <p>Select File</p>
            </div>
            <div class="p-2 bg-info rounded-2 text-white d-flex align-items-center ">
                <i class="bi bi-cloud-arrow-up mx-2"></i> <span>Upload</span>
            </div>
        </label>
    </div>
}
<div class="my-3 d-flex justify-content-end ">
    <input class="btn btn-outline-info hover_white hover_primary mx-2 btn-lg" type="submit"></input>
    <input class="btn btn-outline-info hover_white hover_primary btn-lg" type="reset"></input>
</div>

