@*
For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div>
    <button id="btnSwitch" class="btn btn-outline-info theame_toggle_button" style="scale:1.2;">
        <i class="fa-regular fa-moon" id="theme_mode_button"></i>
    </button>
</div>