
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<script>

    document.addEventListener("DOMContentLoaded", function () {
        swal.fire({
            title: "Information",
            text: "When submitting a request, you must provide the correct contact information for the patient or the responsible party. Failure to provide the correct email and phone number will delay service or be declined.",
            iconHtml: "<div class='warning_icon'><i class='bi bi-exclamation-circle-fill'></i></div>",
            showCancelButton: true,
            showConfirmButton: false,
            cancelButtonText: "Okay",
            cancelButtonColor: "#01BBE7",
        })    
    });

</script>