html {
    font-size: 14px;
    font-family: "Poppins" !important;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


.navbar-toggler {
    display: none;
    border-color: #01BBE7 !important;
    box-shadow: none !important;
}

.navbar-toggler-icon {
    color: #01BBE7;
}

.active {
    border-bottom: 2px solid #01BBE7;
}

.active a {
    color: #01BBE7 !important;
}

.links a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}




.AdminStatediv {
    position: relative;
    margin: 1.4rem 0;
}

#NewState {
    background-color: #e8eaf1;
    color: #213f99;
    border: 1px solid #213f99;
    border-radius: 10px;
}

#NewState:hover {
    background-color: #213f99;
    color: #ffffff;
    border: 1px solid #213f99;
    border-radius: 10px;
}

#NewState:hover img {
    filter: brightness(20);
}



#ActiveState {
    background-color: #d0f0c0;
    color: #228b22;
    border: 1px solid #228b22;
    border-radius: 10px;
}

#ActiveState:hover {
    background-color: #228b22;
    color: #ffffff;
    border: 1px solid #228b22;
    border-radius: 10px;
}

#ActiveState:hover img {
    filter: brightness(20);
}



#PendingState {
    background-color: #e5f3f8;
    color: #00adef;
    border: 1px solid #00adef;
    border-radius: 10px;
}

#PendingState:hover {
    background-color: #00adef;
    color: #ffffff;
    border: 1px solid #00adef;
    border-radius: 10px;
}



#ConcludeState {
    background-color: #f6e6ef;
    color: #d90f81;
    border: 1px solid #d90f81;
    border-radius: 10px;
}

#ConcludeState:hover {
    background-color: #d90f81;
    color: #ffffff;
    border: 1px solid #d90f81;
    border-radius: 10px;
}

#ConcludeState:hover img {
    filter: brightness(20);
}


#ToCloseState {
    background-color: #e5eef6;
    color: #0371d7;
    border: 1px solid #0371d7;
    border-radius: 10px;
}

#ToCloseState:hover {
    background-color: #0371d7;
    color: #ffffff;
    border: 1px solid #0371d7;
    border-radius: 10px;
}

#UnpaidState {
    background-color: #f1edf5;
    color: #9966cf;
    border: 1px solid #9966cf;
    border-radius: 10px;
}

#UnpaidState:hover {
    background-color: #9966cf;
    color: #ffffff;
    border: 1px solid #9966cf;
    border-radius: 10px;
}

#UnpaidState:hover img {
    filter: brightness(20);
}

.card_svg {
    width: 25px;
    height: 25px;
}

.dataTables_info {
    display: none;
}

.all-btn {
    background-color: none;
    padding: 0px 0px 0px 0px;
}

.indicators {
    margin-right: 3rem;
}

.patient {
    height: 15px;
    width: 15px;
    background-color: forestgreen;
}

.family {
    height: 15px;
    width: 15px;
    background-color: darkorange;
}

.concierge {
    height: 15px;
    width: 15px;
    background-color: deeppink;
}

.business {
    height: 15px;
    width: 15px;
    background-color: dodgerblue;
}

table {
    table-layout: fixed;
}
tr td {
    color: white;
    font-size: 16px;
    font-weight: 200;
    font-family: 'Poppins' !important;
}
tr{
    border-bottom:1px solid #f0f0f0 ;
    text-align: center;
}

th{
    background-color: #6969697c;
    text-align: center;

}

.dropdown {
    text-align: center !important;
}

.dropdown-toggle::after {
    border: 0px !important;
    margin-left: 0pc !important;
}

.menu-icon {
    width: 26px !important;
    margin: 1px;
    margin-right: 8px;
}

.menu-option {
    border-bottom: 1px solid #e3e3e3;
}

.mb-10 {
    margin-bottom: 100px;
}

.min-h-10 {
    min-height: 100px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

@media (max-width: 980px) {
    .logo_img {
        position: relative;
        left: 80px;
    }

    .AdminState {
        border-radius: 0 !important;
        text-align: center;
    }
}

@media (min-width: 980px) {

    #NewState:hover::after {
        position: absolute;
        content: '';
        left: 40%;
        border-style: solid;
        border-width: 0px 30px 30px 30px;
        transform: rotate(180deg);
        border-color: transparent transparent #213f99 transparent;
        transition: 1s;
    }

    #ActiveState:hover::after {
        position: absolute;
        content: '';
        left: 40%;
        border-style: solid;
        border-width: 0px 30px 30px 30px;
        transform: rotate(180deg);
        border-color: transparent transparent #228b22 transparent;
        transition: 1s;
    }

    #PendingState:hover::after {
        position: absolute;
        content: '';
        left: 40%;
        border-style: solid;
        border-width: 0px 30px 30px 30px;
        transform: rotate(180deg);
        border-color: transparent transparent #00adef transparent;
        transition: 1s;
    }

    #ConcludeState:hover::after {
        position: absolute;
        content: '';
        left: 40%;
        border-style: solid;
        border-width: 0px 30px 30px 30px;
        transform: rotate(180deg);
        border-color: transparent transparent #d90f81 transparent;
        transition: 1s;
    }

    #ToCloseState:hover::after {
        position: absolute;
        content: '';
        left: 40%;
        border-style: solid;
        border-width: 0px 30px 30px 30px;
        transform: rotate(180deg);
        border-color: transparent transparent #0371d7 transparent;
        transition: 1s;
    }

    #UnpaidState:hover::after {
        position: absolute;
        content: '';
        left: 40%;
        border-style: solid;
        border-width: 0px 30px 30px 30px;
        transform: rotate(180deg);
        border-color: transparent transparent #9966cf transparent;
        transition: 1s;
    }
}


@media (max-width:590px) {
    .navbar-toggler {
        display: block;
    }

    .mobile_d_none {
        display: none;
    }

    .mobile_nav {
        position: absolute;
        height: 100vh;
        width: 50% !important;
        margin: 0px;
        background-color: #0d0f10;
    }

    .mobile_nav div {
        flex-direction: column;
    }
}



#spinner {
    position: absolute;
    width: 250px;
    height: 250px;
    z-index: 50;
    margin: auto;
    top: 60%;
    left: 42%;
}

.pagination .page-item.active .page-link {
    background-color: #00adef;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus {
    background-color: #00adef;
}

.pagination .page-item.active .page-link:hover {
    background-color: #00adef;
}









/*For Js Only*/

#NewState.click {
    background-color: #213f99;
    color: #ffffff;
    border: 1px solid #213f99;
    border-radius: 10px;
}

#NewState.click img {
    filter: brightness(20);
}

#ActiveState.click {
    background-color: #228b22;
    color: #ffffff;
    border: 1px solid #228b22;
    border-radius: 10px;
}

#ActiveState.click img {
    filter: brightness(20);
}


#PendingState.click {
    background-color: #00adef;
    color: #ffffff;
    border: 1px solid #00adef;
    border-radius: 10px;
}

#ConcludeState.click {
    background-color: #d90f81;
    color: #ffffff;
    border: 1px solid #d90f81;
    border-radius: 10px;
}

#ConcludeState.click img {
    filter: brightness(20);
}

#ToCloseState.click {
    background-color: #0371d7;
    color: #ffffff;
    border: 1px solid #0371d7;
    border-radius: 10px;
}

#UnpaidState.click {
    background-color: #9966cf;
    color: #ffffff;
    border: 1px solid #9966cf;
    border-radius: 10px;
}

#UnpaidState.click img {
    filter: brightness(20);
}