html {
    font-size: 14px;
    font-family: "Poppins" !important;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

main {
    padding-top: 140px;
}

.navbar-toggler {
    display: none;
    border-color: #01BBE7 !important;
    box-shadow: none !important;
}


.active {
    border-bottom: 2.5px solid #01BBE7;
}

.active > a {
    color: #01BBE7 !important;
}


.links a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.card_svg {
    width: 25px;
    height: 25px;
}

.dataTables_info {
    display: none;
}

.all-btn {
    background-color: none;
    padding: 0px 0px 0px 0px;
}

.indicators {
    margin-right: 3rem;
}

#requestState {
    color: #006fdb;
    font-size: 1rem;
    font-weight: 600
}

.circle {
    width: 15px;
    height: 15px;
}

.patient {
    background-color: forestgreen;
}

.family {
    background-color: darkorange;
}

.concierge {
    background-color: deeppink;
}

.business {
    background-color: dodgerblue;
}

#request-table {
    table-layout: fixed;
}

tr td {
    color: white;
    font-size: 16px;
    font-weight: 200;
    font-family: 'Poppins' !important;
}

tr {
    border-bottom: 1px solid #f0f0f0;
    text-align: center;
    vertical-align: middle;
}

th {
    background-color: #6969694a !important;
    text-align: center;
    font-weight: 500;
    padding: 12px 0px !important;
}

.dropdown {
    text-align: center !important
}

.dropdown-toggle::after {
    border: 0px !important;
    margin-left: 0pc !important;
}

.menu-icon {
    width: 20px !important;
    margin-right: 5px;
}

.menu-option:hover {
    background: #e3e3e3;
    color: black;
    /*border-bottom: 1px solid #e3e3e378;*/
}

.mb-10 {
    margin-bottom: 100px;
}

.min-h-10 {
    min-height: 100px;
}

/*Search Icon CSS*/
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}


.AdminStatediv {
    position: relative;
    margin: 1.4rem 0;
}

#NewState {
    background-color: #e8eaf1;
    color: #213f99;
    border: 1px solid #213f99;
    border-radius: 10px;
}

#NewState.active {
    background-color: #213f99 !important;
    color: #ffffff !important;
    border: 1px solid #213f99;
    border-radius: 10px;
}

#NewState.active h6 image {
    filter: brightness(20);
}

#ActiveState {
    background-color: #d0f0c0;
    color: #228b22;
    border: 1px solid #228b22;
    border-radius: 10px;
}

#ActiveState.active {
    background-color: #228b22 !important;
    color: #ffffff !important;
    border: 1px solid #228b22;
    border-radius: 10px;
}



#PendingState {
    background-color: #e5f3f8;
    color: #00adef;
    border: 1px solid #00adef;
    border-radius: 10px;
}

#PendingState.active {
    background-color: #00adef !important;
    color: #ffffff !important;
    border: 1px solid #00adef;
    border-radius: 10px;
}




#ConcludeState {
    background-color: #f6e6ef;
    color: #d90f81;
    border: 1px solid #d90f81;
    border-radius: 10px;
}

#ConcludeState.active {
    background-color: #d90f81 !important;
    color: #ffffff !important;
    border: 1px solid #d90f81;
    border-radius: 10px;
}



#ToCloseState {
    background-color: #e5eef6;
    color: #0371d7;
    border: 1px solid #0371d7;
    border-radius: 10px;
}

#ToCloseState.active {
    background-color: #0371d7 !important;
    color: #ffffff !important;
    border: 1px solid #0371d7;
    border-radius: 10px;
}



#UnpaidState {
    background-color: #f1edf5;
    color: #9966cf;
    border: 1px solid #9966cf;
    border-radius: 10px;
}

#UnpaidState.active {
    background-color: #9966cf !important;
    color: #ffffff !important;
    border: 1px solid #9966cf;
    border-radius: 10px;
}


.AdminState {
    height: 100px;
}

.AdminState:hover {
    height: 100px;
    opacity: 0.8;
}

#pagination{
    display: flex;
    justify-content: end;
    margin: 20px 0px;
}
.page-button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #e7e7e7;
    border: 1px solid #aaa;
    border-radius: 5px !important; 
    color: rgb(56, 56, 56);
}
.pagination_btn{
    margin: 0 5px;
    cursor: pointer;
    background-color: #e7e7e7;
    border: 1px solid #aaa;
    border-radius: 5px !important; 
    color: rgb(56, 56, 56);
}

#prev-button:disabled{
    opacity: 0.6;
    cursor: not-allowed;
}
#next-button:disabled{
    opacity: 0.6;
    cursor: not-allowed;
}

.current-page {
    padding: 5px 10px;
    background-color:  #25cff2;
    border: 1px solid #25cff2;
    color: #fff;
}




@media (min-width: 980px) {

    #NewState.active::after {
        position: absolute;
        content: '';
        left: 40%;
        border-style: solid;
        border-width: 0px 30px 30px 30px;
        transform: rotate(180deg);
        border-color: transparent transparent #213f99 transparent;
        transition: 1s;
    }

    #ActiveState.active::after {
        position: absolute;
        content: '';
        left: 40%;
        border-style: solid;
        border-width: 0px 30px 30px 30px;
        transform: rotate(180deg);
        border-color: transparent transparent #228b22 transparent;
        transition: 1s;
    }

    #PendingState.active::after {
        position: absolute;
        content: '';
        left: 40%;
        border-style: solid;
        border-width: 0px 30px 30px 30px;
        transform: rotate(180deg);
        border-color: transparent transparent #00adef transparent;
        transition: 1s;
    }

    #ConcludeState.active::after {
        position: absolute;
        content: '';
        left: 40%;
        border-style: solid;
        border-width: 0px 30px 30px 30px;
        transform: rotate(180deg);
        border-color: transparent transparent #d90f81 transparent;
        transition: 1s;
    }

    #ToCloseState.active::after {
        position: absolute;
        content: '';
        left: 40%;
        border-style: solid;
        border-width: 0px 30px 30px 30px;
        transform: rotate(180deg);
        border-color: transparent transparent #0371d7 transparent;
        transition: 1s;
    }

    #UnpaidState.active::after {
        position: absolute;
        content: '';
        left: 40%;
        border-style: solid;
        border-width: 0px 30px 30px 30px;
        transform: rotate(180deg);
        border-color: transparent transparent #9966cf transparent;
        transition: 1s;
    }
}



/* ViewCase Page CSS  */

.viewCaseContiner {
    width: 50%;
}

.badg {
    scale: 0.85;
}

@media (max-width: 980px) {
    main {
        padding-top: 100px;
    }

    #pagination{
        display: flex;
        justify-content: center;
        margin: 20px 0px;
    }

    .logo_img {
        position: relative;
        left: 80px;
    }

    .AdminState {
        border-radius: 0 !important;
        text-align: center;
    }

    .viewCaseContiner {
        width: 85%;
    }

    .badg {
        font-size: 12px !important;
    }

    h2 {
        font-size: 12px;
    }
}

@media (max-width:590px) {
    main {
        padding-top: 80px;
    }
    .navbar-toggler {
        display: block;
    }

    .mobile_d_none {
        display: none;
    }

    .mobile_nav {
        position: absolute;
        height: 100vh;
        width: 50% !important;
        margin: 0px;
        z-index: 100;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    .mobile_nav div {
        flex-direction: column;
    }
}



#spinner {
    position: absolute;
    width: 250px;
    height: 250px;
    z-index: 50;
    margin: auto;
    top: 60%;
    left: 42%;
}

.pagination .page-item.active .page-link {
    background-color: #00adef;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus {
    background-color: #00adef;
}

.pagination .page-item.active .page-link:hover {
    background-color: #00adef;
}


.accordian_d_block{
    display: none;
}
.w-95{
    width:95% !important;
}


@media (max-width:900px) {
    .table_d_none {
        display: none;
    }

    .accordian_d_block{
        display: block;
    }

    .filterbuttons{
        justify-content:center !important;
    }
}