body {
    font-family: 'Poppins';
    /* background-color: azure; */
    transition: all 0.2s linear;
}

.active {
    border-bottom: 2px solid #01BBE7;
}

    .active a {
        color: #01BBE7 !important;
    }

.links a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.navbar-toggler {
    display: none;
    border-color: #01BBE7 !important;
    box-shadow: none !important;
}

.navbar-toggler-icon {
    color: #01BBE7;
}

.w-95 {
    width: 95%;
}

.w-60 {
    width: 60%;
}

td, th {
    padding-left: 20px !important;
    padding-top: 10px !important;
    padding-bottom: 12px !important;
}

@media (max-width:530px) {
    .navbar-toggler {
        display: block;
    }

    .mobile_d_none {
        display: none;
    }

    .mobile_nav {
        position: absolute;
        height: 100vh;
        width: 50%;
        margin: 0px;
        background-color: #0d0f10;
    }

        .mobile_nav div {
            flex-direction: column;
        }
}
