body {
    font-family: 'Poppins';
    /* background-color: azure; */
    transition: all 0.2s linear;
}

main {
    padding-top: 140px;
}


.active {
    border-bottom: 2px solid #01BBE7;
    background: #0086fb0d;
}

    .active a {
        color: #01BBE7 !important;
    }

.links a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}
.links:hover {
    background: #0086fb0d;
}

.navbar-toggler {
    display: none;
    border-color: #01BBE7 !important;
    box-shadow: none !important;
}


.w-95 {
    width: 95%;
}

.w-60 {
    width: 60%;
}

td, th {
    padding-left: 20px !important;
    padding-top: 10px !important;
    padding-bottom: 12px !important;
}

@media (max-width:530px) {
    main {
        padding-top: 80px;
    }
    .navbar-toggler {
        display: block;
    }

    .mobile_d_none {
        display: none;
    }

    .mobile_nav {
        position: absolute;
        height: 100vh;
        width: 50% !important;
        margin: 0px;
        z-index: 100;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        transform: translateX(-300px);
        transition: transform 0.3s ease; /* Added transition */
    }

        .mobile_nav div {
            flex-direction: column;
        }

    .show-nav {
        transform: translateX(0); /* Moved to show position */
    }

}
