html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


.theame_toggle_button {
    position: absolute !important;
    z-index: 5;
    right: 15px;
    top: 15px;
}

.password-fields {
    display: none;
}

::-webkit-file-upload-button {
    display: none !important;
}

::file-selector-button {
    display: none;
}

input#file {
    width:90.5% !important;
    height: 50px;
    padding-left: 20px;
    padding-top: 10px;
}
.uploadfile{
    border-radius: 0px !important;
} 

.iti {
    width: 100%;
    height: 100%;
}

.iti input {
    width: 100%;
    height: 100%;
}

.iti__selected-flag,
.iti__country-list {
    z-index: 5;
    color: black !important;
}


.btn-outline-info:hover{
    color: white !important;
}

.readonly {
    background: #f3f3f3;
    cursor: not-allowed;
}

.notallowed {
    background: #f3f3f3;
    cursor: not-allowed;
}