* {
    font-family: 'Poppins';
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/*.form_content {
    width: 75%;
}*/

.theame_toggle_button {
    position: absolute !important;
    z-index: 5;
    right: 15px;
    top: 15px;
}

.password-fields {
    display: none;
}

::-webkit-file-upload-button {
    display: none !important;
}

::file-selector-button {
    display: none;
}

input[type = "checkbox"]{
    width: 20px;
    height: 20px;
    margin: 5px;
}

input#file {
    width: 90.5% !important;
    height: 50px;
    padding-left: 20px;
    padding-top: 10px;
}

.uploadfile {
    border-radius: 0px !important;
}

.iti {
    width: 100%;
    height: 100%;
}

.iti input {
    width: 100%;
    height: 100%;
}

.iti__selected-flag,
.iti__country-list {
    z-index: 5;
    color: black !important;
}

.readonly {
    background-color: rgba(128, 128, 128, 0.089) !important;
    cursor: not-allowed;
}

.notallowed {
    background-color: rgba(128, 128, 128, 0.089) !important;
    cursor: not-allowed;
}

.hover_primary:hover {
    background-color: #0dcaf0 !important;
}

.hover_white:hover {
    color: white !important;
}


.desktop_d_none {
    display: none !important;
}

.w-98 {
    width: 98% !important;
}

hr{
    border-bottom: 1px dotted;

}

.notesText {
    font-size: 12px;
}

.form-control:focus,
.form-control:hover {
    outline: 0;
    box-shadow: none;
    border: 1px solid #01BBE7;
}

.viewCasebtn {
    position: relative;
    background-color: white;
    width: 108px !important;
    height: 44px;
    font-size: 16px;
    padding: 9px;
    bottom: 42px;
    font-family: 'Poppins';
    z-index: 100;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button::after{
    width: 0px !important;
}

.dropdown-item {
    cursor: pointer !important;
}

.pointer{
    cursor:pointer !important;
}
.popup {
    position: absolute;
    top: auto;
    left: auto;
    right: auto;
    padding: 25px;
    width: 40%;
    height: auto;
    z-index: 10;
    color: black;
    background-color: white;
    border-radius: 10px !important;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    background: #020202 !important;
    opacity: 0.1;
    border-radius: 16px;
}

.form_content {
    width: 75%;
}


.form-select:focus,
.form-select:hover {
    outline: 0;
    box-shadow: none;
    border: 1px solid #01BBE7;
}
.warning_icon{
    height: 100px;
    width:100px;
    border: 2px solid #f7ad00;
    border-radius: 50000px;
}
.warning_icon i{
    position: relative;
    top: 3.5px;
    left: 3.1px;
    font-size: 90px;
    color: #f7ad00;
}

.swal2-default-outline{
    box-shadow: none !important;
}
.swal2-html-container{
    font-size: 15px !important;
}
.swal2-actions{
    margin-bottom: 30px !important;
}

.reviewagreement{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.reviewagreement h5{
    text-align: justify;
}
.blur_content_review {
    height: 100vh;
    margin: auto;
    padding: 0px;
    background: inherit;
    background-image: url("/images/login-banner.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.blur {
    height: 100%;
    backdrop-filter: blur(20px);
}

.bg_blend{
    background-blend-mode: multiply;
}

@media (max-width: 760px) {
    .form_content {
        width: 85%;
    }
}

@media (max-width:590px) {
    .mobile_d_none {
        display: none;
    }
    .desktop_d_none {
        display: block !important;
    }

    .reviewagreement{
        width: 100%;
        padding: 50px;
    }
    .reviewagreement h5{
        font-size: 15px !important;
    }
}

@media (max-width:980px){
    .popup{
        width: 60%;
    }
}