@*
For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<footer class="shadow row g-0 justify-content-between align-items-center bg-dark">
    <div class="col-md-10 fotor_logo">
        <img src="/images/logo.png" width="120px" alt="" srcset="">
    </div>
    <div class="col-md-2 d-flex justify-content-evenly text-light ">
        <p>Terms and condition</p>
        <p> | </p>
        <p>Privacy Policy</p>
    </div>
</footer>