
@{
}
@section DashboardCSS{
    <link rel="stylesheet" href="~/css/dashboard.css" />
}

@section NavbarScript {
    <script>
        if (window.innerWidth > 530) {
            document.getElementById('navbarHeader').classList.add("show");
        }

        </script>
        }
   

<h1>Document View</h1>
