@{
    ViewData["Title"] = "Welcome to HelloDoc";
}

@section PatientLoginStyle{
    <link rel="stylesheet" href="~/css/patient_style.css" />
}

<partial name="_ThemeButton">
<div class="container w-50 p-3 width_100 bg_image" style="height: 100vh;">
    <div class="w-75 m-auto d-flex flex-column justify-content-evenly h-100 width_100 blur">
        <div class="text-center">
            <img id="logo" src="/images/logo.png" width="250px" alt="" srcset="">
        </div>
        <div class="w-auto mt-n3">
                <a href="/patient/SubmitRequest" class="w-100 btn btn-lg btn-info text-white my-2">Submit a Request</a>
            <a href="/Patient/login" class="w-100 btn btn-lg bg-darkblue text-white my-2">Register a patinets</a>
        </div>
        <div class="text-center p-2 flex justify-content-around ">
            <span><a href="" class="text-decoration-none text-secondary ">Terms of Conditions</a></span>
            <span>|</span>
            <span><a href="" class="text-decoration-none text-secondary ">Privacy Policy</a></span>
        </div>
    </div>
</div>