@{
}
@section Scripts {
    <script src="~/js/agreement.js"></script>
}

<div class="blur_content_review">
    <div class="blur m-auto reviewagreement">
    <div class="mb-5">
            <h6 class="fw-bold">Patient Name: @ViewBag.PatientName</h6>
            <h6 class="fw-bold">Requested Date:  @ViewBag.createdDate </h6>
    </div>
    <div>
        <h5>To Provide best medical Service , we cannot determin the cost right away. if you agree to our service , so we will provide care and sollow-up until  all care is completed. So with this ponits , if you a\like us to provide care to you click on "Agree" and we'll gfet started immediatley , if you don not agree simply click "Cancel".</h5>
    </div>
    <div class="d-flex justify-content-around my-5">
            <form id="agreeForm" asp-action="reviewAgreement">
                <input type="text" name="status" value="0" class="visually-hidden">
                <input type="text" name="requestId" value="@ViewBag.requestId" class="visually-hidden">
                <div id="agreeButton" class="btn btn-success btn-lg text-white">I Agree</div>
            </form>

            <form id="cancelForm" asp-action="reviewAgreement">
                <input type="text" name="status" value="1" class="visually-hidden">
                <input type="text" name="requestId" value="@ViewBag.requestId" class="visually-hidden">
                <div id="cancelButton" class="btn btn-danger btn-lg text-white">Cancel</div>
            </form>


    </div>
</div>
</div>