@{
    ViewData["Title"] = "All Task";
}

@model TaskViewModel;

<div class="m-5">
   <div class="d-flex justify-content-between align-items-center">
       <div>
            <button class="btn btn-success bg-opacity-75 fw-bold rounded-1 px-5 open-modal">Add Task</button>
       </div>
        <div class="form-floating w-25">
        </div>
   </div>

   <partial name="_TaskData" model="Model.AllTask" />

</div>

<partial name="_AddEditTask" model="Model.Task" />
