@model List<HalloDoc_BAL.ViewModel.Records.LogView>;

@section Style {
    <link rel="stylesheet" href="~/css/adminCss.css" />
    <style>
        tr, th, td {
            text-align: left !important;
        }

        th {
            padding-left: 15px !important
        }

        td {
            padding: 15px !important;
        }
    </style>
}

@section Scripts {
    <script src="~/js/Records/Logs.js"></script>

    <script>
        if (window.innerWidth > 530) {
            document.getElementById('navbarHeader').classList.add("show");
        }
    </script>

}

<partial name="_NavBar" />

<div class="m-4 mt-5">
    <div class="p-2">
        <div class="d-flex justify-content-between">

            @if (ViewBag.LogType == 1)
            {
                <h3 class="fw-bold">Email Logs (Gmail)</h3>
            }
            else if (ViewBag.LogType == 2)
            {
                <h3 class="fw-bold">SMS Logs (Twilo)</h3>
            }


            <button onclick="history.back()" class="btn btn btn-outline-info hover_white ms-5">
                <i class="fa-solid fa-chevron-left"></i> Back
            </button>

        </div>
    </div>
    <div class="shadow rounded-3 mt-3">

        @{
            String formId = "emailLogsForm";
        }

        @if (ViewBag.LogType == 2)
        {
                formId = "smsLogsForm";
        }

        <form id="@formId" class="row px-4">
            <div class="form-floating col-md-2 my-3">
                <select asp class="form-select pt-1" id="AccountType" aria-label="Default select example">
                    <option disabled selected>Account Type</option>
                    <option value="0">All</option>
                    @foreach (var accountType in @ViewBag.accountType)
                    {
                        <option value="@accountType.Id">@accountType.Name</option>
                    }
                </select>
            </div>
            <div class="form-floating col-md-2 my-3">
                <input type="text" id="ReceiverName" class="form-control" placeholder=" ">
                <label for="floatingInput" class="control-label ms-3">
                    Receiver Name
                </label>
            </div>

            @if (ViewBag.LogType == 1)
            {
                <div class="form-floating col-md-2 my-3">
                    <input type="text" id="Email" class="form-control" placeholder=" ">
                    <label for="floatingInput" class="control-label ms-3">
                        Email Id
                    </label>
                </div>
            }
            else if (ViewBag.LogType == 2)
            {
                <div class="form-floating col-md-2 my-3">
                    <input type="text" id="PhoneNumber" class="form-control" placeholder=" ">
                    <label for="floatingInput" class="control-label ms-3">
                        Phone Number
                    </label>
                </div>
            }

            

            <div class="form-floating col-md-2 my-3">
                <input type="date" id="createdDate" class="form-control" placeholder=" ">
                <label for="floatingInput" class="control-label ms-3">
                    Created Date
                </label>
            </div>

            <div class="form-floating col-md-2 my-3">
                <input type="date" id="sentDate" class="form-control" placeholder=" ">
                <label for="floatingInput" class="control-label ms-3">
                    Sent Date
                </label>
            </div>

            <div class="col-md-2 d-flex align-items-center justify-content-end mb-2">
                <input type="reset" value="Clear" class="btn btn-outline-info mx-2 hover_white" />
                <input type="submit" value="Search" class="btn btn-info text-white" />
            </div>
        </form>

       <div id="emaillogTable">
            <partial name="~/Views/Admin/Records/_LogData.cshtml" , model="Model" />
       </div>
    </div>
    <div id="pagination" class="d-flex flex-row-reverse p-3">
        <div class="d-flex">
            <button id="first-button" class="pagination_btn">First</button>
            <button id="prev-button" class="pagination_btn" disabled><i class="fa-solid fa-arrow-left"></i></button>
            <div id="page-buttons"></div>
            <button id="next-button" class="pagination_btn"><i class="fa-solid fa-arrow-right"></i></button>
            <button id="last-button" class="pagination_btn">Last</button>
        </div>
    </div>
</div>
